
Java/.recommenders/.metadata/.lock
Java/.recommenders/.metadata/.log
Java/.recommenders/.metadata/.mylyn/.taskListIndex/segments_1
*.lock
*.zip
Java/.recommenders/.metadata/.plugins/org.eclipse.cdt.core/.log
*.c
*.cpp
*.index
*.snap
*.properties
*.resources
*.prefs
*.xmi
*.db
*.txt
*.dat
*.cfs
*.gen
Java/.recommenders/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
Java/.recommenders/.metadata/.plugins/org.eclipse.m2e.core/nexus/485f54e292e72b2f933d8ef2a5878b95/segments_2
Java/.recommenders/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
*.ser
*.log
*.xml
*.setup
*.rss
*.mark
Java/.recommenders/.metadata/.plugins/org.eclipse.ui.intro/introstate
Java/.recommenders/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
*.js
*.32
*.40
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.42
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.50
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.51
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.60
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.70
*.71
*.43
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.eap.50
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.eap.60
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.eap.61
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.eap.70
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.wildfly.100
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.wildfly.110
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.wildfly.120
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.wildfly.130
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.wildfly.140
*.90
Java/.recommenders/.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.wildfly.80
Java/.recommenders/.metadata/.plugins/org.jboss.tools.usage/events/central-showOnStartup-true
Java/.recommenders/.metadata/.plugins/org.jboss.tools.usage/events/9eb0b862-8982-3846-a5bb-3f80d458335d
Java/.recommenders/.metadata/version.ini
Java/.recommenders/RemoteSystemsTempFiles/.project
